@font-face {
  font-family: Yapari;
  src: url("/assets/fonts/Yapari-Variable-Trial.ttf");
}

@font-face {
  font-family: NeuePowerA;
  src: url("/assets/fonts/NeuePowerTrial-Regular.ttf");
}
@font-face {
  font-family: NeuePowerB;
  src: url("/assets/fonts/NeuePowerTrial-BoldOblique.ttf");
}
html {
  width: 100vw;
  height: 100vh;
  scroll-snap-points-y: repeat(1000px);
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
body {
  background-color: #1b1b1b;
}
.cathedrals {
  background-color: #000;
}

body section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: 40vh;
  max-width: 60vw;
}
.feature {
  z-index: 1;
}

.hero {
  z-index: 2;
}
body .grain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 300;
  transform: translateZ(0);
}
body .grain:before {
  content: "";
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 9999;
  position: fixed;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
  opacity: 0.15;
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}
@-webkit-keyframes noise {
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

#cover {
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1b;
  position: absolute;
  top: 0;
  left: 0;
  /* clip-path: url(#logo); */
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
path {
  transition: fill 0.5s;
  fill: #1b1b1b;
  position: relative;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 60vw;
  max-height: 70vh;
  height: 100%;
}
.top-bar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1b1b1b;
  position: relative;
  top: 5%;
  z-index: 3;
}

.feature,
.hero {
  width: 100%;
  height: auto;
  align-self: center;
}
.bottom-bar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1b1b1b;
  position: relative;
  top: -5%;
  z-index: 3;
}

.bottom-bar.mobile {
  display: none;
}
.segment {
  width: auto;
  height: 100%;
}
.bot-right {
  margin-top: 1%;
}
.top-right {
  margin-top: -1%;
}

h1 {
  font-family: Yapari;
  font-weight: 200;
  font-size: 2vw;
  font-stretch: expanded;
  color: #fff;
}
h5 {
  font-family: Yapari;
  font-weight: 100;
  font-size: 25px;
  color: #fff;
  display: inline;
}

.hero #name {
  padding: 0;
  margin: auto;
  display: block;
  width: 60vw;
  height: auto;
  position: absolute;
  top: 17%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: right;
}

.hero #folio {
  display: inline;
}

#corners {
  padding: 0;
  margin: auto;
  display: block;
  width: 60vw;
  height: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  pointer-events: none;
}
#hero-bottom {
  padding: 0;
  margin: auto;
  display: inline;
  width: 60vw;
  height: auto;
  position: absolute;
  top: 78%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: left;
}

section {
  height: 1000px;
}
.inner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.image,
.text {
  height: 75%;
  width: 50%;
  margin: 5%;
}

section#about .top-bar h1,
section#work .top-bar h1 {
  position: relative;
  left: -6%;
}

.image img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.image .web {
  display: block;
}
.image .mobile {
  display: none;
}

.mobile-corner-top,
.mobile-corner-bot,
.icon.mobile {
  display: none;
}

.wrapper {
  margin: 0 auto;
  height: 60vh;
  width: 100%;
  padding-top: 24vh;
  display: flex;
}

.sidetext {
  height: 100%;
  width: 50%;
}

p {
  font-family: NeuePowerA;
  font-size: 1.5vw;
  color: #fff;

  margin: 5%;
}

.sidetext {
  margin-top: 7%;
}

b {
  font-family: NeuePowerB;
  font-size: 1em;
  color: #fff;
}

.sidetext h1 {
  padding: 0px;
  margin: auto;
  display: block;
  position: relative;
  height: auto;
  inset: 17% 0px 0px;
  z-index: 1;
  text-align: left;
  top: -16%;
  top: -7vh;
}

.sidetext .icon {
  left: 47%;
  top: 1vh;
}
.icon {
  position: relative;
  width: 5vw;
}

.workmenu {
  width: 100%;
  height: 100%;
}

.workmenu h1 {
  padding: 0px;
  margin: auto;
  display: block;
  position: relative;
  height: auto;
  inset: 17% 0px 0px;
  z-index: 1;
  text-align: left;
  top: -16%;
}

.work {
  flex-direction: column;
}

.contact {
  display: block;
}

nav {
  overflow-x: hidden;
}
.menu__item {
  width: max-content;
  margin: 10px;
}

.menu__item-image_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  pointer-events: none;
  opacity: 0;
}

.menu__item-image_inner .menu__item-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menu__item-text {
  position: relative;
  font-family: Yapari;
  text-align: end;
  font-weight: bold;
  font-size: 2.7vw;
  line-height: 1.1;
  color: #fff;
  opacity: 0.3;
  transition: opacity 350ms ease;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: inline-grid;
  text-align: left;
}

.menu__item-subtext {
  font-family: Yapari;
  font-weight: 100;
  font-stretch: wider;
  font-size: 1.2vw;
  text-align: initial;
}
.menu__item:hover .menu__item-text {
  opacity: 1;
}

.menu__item:hover .menu__item-image_wrapper {
  z-index: 2;
}

.work-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

#contact h1 {
  left: -5vw;
  top: -3vh;
  position: relative;
}
section#contact .top-bar .icon.web {
  top: -2vh;
}

a {
  text-decoration: none;
  color: #fff;
}

#article-cover {
  padding: 0;
  margin: auto;
  display: block;
  width: 60vw;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
  height: 55vh;
  width: auto;
}

#grid {
  position: absolute;
  left: 70%;
  margin-top: -9%;
  z-index: 0;
}

#corners-work {
  padding: 0;
  margin: auto;
  display: block;
  width: 60vw;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.work-image {
  width: 100% !important;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 9vh !important;
}

body.work .hero #folio {
  font-size: 1.25em;
}

body.work .wrapper h1 {
  font-weight: 900;
  font-stretch: initial;
}
body.work .hero #name {
  font-size: 1.75em;
}

.sidetext.mirrored {
  margin-left: 1vw;
}

a {
  display: flex;
}
a p {
  margin-left: 1vw;
}
body.work .container {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .inner-wrapper {
    height: 70%;
  }
}

@media only screen and (max-width: 950px) {
  canvas {
    width: 95vw;
    max-height: 35vh;
    max-width: 100vw;
    align-self: center;
  }
  .container {
    width: 100vw !important;
    height: 90vw;
    max-height: 100%;
  }
  p {
    font-size: 2.5vw;
  }

  .hero {
    width: 96vw !important;
    height: auto;
  }
  #corners {
    width: 95vw;
  }
  .top-bar,
  .bottom-bar {
    align-self: center;
    width: 95vw;
  }
  .menu__item-image_wrapper {
    display: none;
  }
  .menu__item-text {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 471px) {
  canvas {
    max-height: 25vh;
  }
}

@media only screen and (max-width: 425px) {
  html {
    scroll-snap-type: none;
  }
  canvas {
    width: 100vw;
    max-height: 25vh;
    max-width: 100vw !important;
  }

  .container {
    width: 100vw !important;
  }
  section {
    height: 100vh;
  }
  .hero {
    width: 100vw !important;
    height: auto;
  }
  .hero #name {
    width: 100%;
    position: absolute;
    top: 33%;
  }
  h1 {
    font-size: 5.3vw;
  }
  section#about .top-bar h1,
  section#work .top-bar h1,
  section#contact .top-bar h1 {
    top: -3vh;
  }

  section#contact .top-bar h1 {
    left: 0;
  }

  section#work .top-bar h1 {
    left: 0;
  }
  #corners,
  #corners-work {
    position: absolute;
    width: 100vw;
  }
  .top-bar,
  .bottom-bar {
    width: 100vw;
    top: 0;
    justify-content: space-between;
  }
   .top-bar{
  top: -7%;
  }

  .bottom-bar.mobile {
    display: flex;
    margin-top: 15%;
    justify-content: space-between;
  }

  h5 {
    margin-left: 5vw;
    font-size: 5vw;
  }

  .image .web {
    display: none;
  }
  .image .mobile {
    display: block;
    width: 90vw;
    margin: 0 auto;
  }
  .picture {
    width: auto;
    margin: 0 auto;
  }
  .wrapper {
    display: block;
  }
  .sidetext {
    width: 88vw;
    margin: 0 auto;
    margin-top: 5vh;
  }

  .inner-wrapper {
    display: block;
  }
  .image,
  .text {
    width: 90vw;
    height: auto;
  }
  .mobile-corner-top {
    display: block;
    max-width: 70px;
  }
  .mobile-corner-bot {
    display: block;
    max-width: 70px;
  }

  .sidetext h1 {
    top: -76vh;
    left: 4vw;
    text-align: right;
  }
  .spacer {
    height: 75vh;
  }
  .work-container {
    margin: 0 auto;
    width: 100%;
  }
  .menu__item-text {
    font-size: 5.5vw;
  }
  .menu__item-subtext {
    font-size: 3vw;
  }

  .mobile-corner-bot.work {
    margin-top: -25vh;
  }

  .icon.work {
    margin: 0;
    width: 20vw;
    margin-top: -10vh;
    top: -17vh;
    left: 0;
  }

  .icon.mobile {
    margin: 0;
    width: 15vw;
    display: block;
    margin-top: -5vh;
    top: 3vh;
    left: 0;
  }
  .icon.web {
    display: none;
  }

  p {
    font-size: 3.5vw;
  }

  section#contact .sidetext {
    height: 40vh;
  }
  section#contact .sidetext h1 {
    top: -10vh;
    left: 5vw;
  }
  .work-image {
    width: 100% !important;
  }
  #article-cover {
    height: auto;
    width: 100vw;
  }

  body.work .hero #name {
    text-align: center;
    font-size: 5.3vw;
  }
  body.work .hero #folio {
    font-size: 1em;
    text-align: center;
    display: block;
  }
  body.work .wrapper h1 {
    top: 0;
    left: 0;
    text-align: left;
    font-size: 4vh;
  }
  body.work .spacer {
    height: 10vh;
  }
  .picture {
    height: auto;
  }
  .placeholder {
    width: 100vw;
    margin-top: 5vh;
  }

  body.work.codeventure .hero #name {
    font-size: 4.9vw;
  }
  body.work.nederland .hero #name,
  body.work.museum .hero #name {
    margin-top: -3vh;
  }
}

@media only screen and (max-width: 375px) {
  canvas {
    width: 100vw;
    max-height: 15vh;
  }

  .container {
    width: 100vw !important;
  }

  .hero {
    width: 100vw !important;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  canvas {
    width: 100vw;
    max-height: 15vh;
  }

  .container {
    width: 100vw !important;
  }

  .hero {
    width: 100vw !important;
    height: auto;
  }
}
